html {
    font-size: 10px;
}

body {
    margin: 0 auto;
}

.explanation{
    font-size: 2rem;
    color: black;
}

.zminni {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: auto;
    border: 4px solid black;
    color: grey;
    font-size: 6rem;
}
span{
    font-size: 4rem;
    font-weight: bold;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: auto;
    border: 4px solid red;
    color: grey;
    font-size: 6rem;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: auto;
    border: 4px solid orange;
    color: grey;
    font-size: 6rem;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: auto;
    border: 4px solid yellow;
    color: grey;
    font-size: 6rem;
}

.fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: auto;
    border: 4px solid green;
    color: grey;
    font-size: 6rem;
}

.fifth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: auto;
    border: 4px solid blue;
    color: grey;
    font-size: 6rem;
}